*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
      
      .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
}

:root{
    --bg-color: #ffffff;
    --text-color: #17151d;
    --second-color: #148f77 #e3ecea;
    --main-color: #148f77;
    --big-font: 3.8rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
    font-family: poppins;
    margin: 0;
    display: grid;
    
}

/* code part fro footer section from here */
main{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #685f78;
  line-height: 3.8;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
} 
footer{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #ffffff;
  background-color: #148f77
}
.footer > *{
  flex: 1 100%;
}
.footer-left{
  margin-right: 1.25rem;
  margin-bottom: 2rem;
}
.footer-left img{
  width: 50%;
}
h2{
  font-weight: 500;
  font-size: 5;
}
.footer ul{
  list-style: none;
  padding-left: 0;
}
.footer li{
  line-height: 1.5rem;
}
.footer a{
  text-decoration: none;
}
.footer-right{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  display: flex;
  flex-flow: row wrap;
}
.footer-right > *{
  flex: 1 50%;
  margin-right: 1.25rem;
}
.box1 a{
  color:rgb(211, 221, 227);
}
.box1 li a:hover{
  background-color: #090e0d;

}

.features .box1{
  font-size: small;
}
.features h2{
  font-size: medium;
}
#comp h2{
  font-size: medium;
}
#comp .box1{
  font-size: small;
}
.footer-bottom{
  text-align: center;
  color: rgb(233, 240, 240);
  padding-top: 50px;
}
.footer-left p{
  padding-right: 20%;
  color: rgb(222, 234, 234);
}
.socials a{
  background: #e1e2df;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}
.socials a i{
  color: #d1cce1;
  padding: 10px 12px;
  font-size: 20px;
}
@media screen and (min-width: 600px){
  .footer-right > *{
    flex: 1;
  }
  .footer-left{
    flex: 1 0px;
  }
  .footer-right{
    flex: 2 0px;
  }
}

@media (max-width: 600px){
  .footer{
    padding: 15px;
  }
  main{
    font-size: 55px;
  }
}

.logo img{
    height: auto;
    width: 160px;
    max-width: 100%;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 23px 13%;
    transition: all 0.40s ease;
    height: 8vh;
}

.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-weight: 600;
    font-size: var(--p-font);
    padding: 10px 22px;
    transition: all 0.40s ease;
}
.navbar a:hover{
    color:  #148f77;
}
.header-icon{
    display: flex;
    align-items: center;
}
.header-icon i{
    margin-left: 10px;
    font-size: 20px;
    color: #090e0d;
    transition: all 0.40s ease;
    margin-right: 15px;
}
.header-icon i:hover{
    transform: scale(1.4);

}
#menu-icon{
    font-size: 34px;color: #101514;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.home-img img{
  width: 500px;
  height: auto;
  padding-right: 15vw;
  
}

.home-img{
  overflow-x: hidden;
  width: 55vw;
  margin-top: 7vw;
}

section{
  padding: 100px 25%;
}
.home{
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  margin-left: 1rem;

}
.home-text{
  width: 500px;
  height: 100px;
}
.home-text h1{
  color:  #148f77;
  margin: 15px 0 15px;
  font-size: var(--big-font);
}
.home-text h6{
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}
.home-text p{
  font-size: var(--p-font);
  font-weight: 500;
  margin-bottom: 48px;
}
.latter form{
  width: 100%;
  max-width: 460px;
  position: relative;
  margin-right: 45vw;
}
.latter form input:first-child{
  display: inline-block;
  width: 100%;
  outline: none;
  padding: 16px 140px 16px 15px;
  border: 2px solid;
  border-color: #148f77;
  border-radius: 30px;
}
.latter form input:last-child{
  position: absolute;
  display: inline-block;
  border: none;
  outline: none;
  background: var(--main-color);
  color: var(--bg-color);
  padding: 16px 40px;
  border-radius: 30px;
  cursor: pointer;
  top: 2px;
  right: 1px;
}
/* .container-iamge {
  height: 10px;
  width: 10px;
} */
#cont{
  height: 40px; 
  width: 40px;
}
#cont1{
  height: 40px;
  width: 40px;
}
#cont2{
  height: 40px;
  width: 40px;
}
#cont3{
  height: 40px;
  width: 40px;
}
header.sticky{
  background: #148f77;
  padding: 12px 13px;
  box-shadow: 0px 4px 15px rgb(0 0 0 /8%);
}
#img2{
  height: 150px;
  width: 150px;
  margin-bottom: 12px;
}
#img13{
  height: 310px;
  width: 310px;
  
  margin-right: 120px;
}
.container{
  padding: 70px 13% ;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  cursor: pointer;
  width: px;
  margin-right: 18vw;
  padding-left: vw;
  
}

.container-inner{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* #con{
  padding: 200px 40% ;
  display:grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  gap: 1.5rem;
  align-items: center;
  cursor: pointer;
} */

li{
  list-style: none;
}

li a{
  text-decoration: none;
  
}
.container-inner{
  width: 80vw;
  padding: 15px 15px 205px 8px;
  border-radius: 20px;
  box-shadow: 0px 5px 40px rgb(234, 173, 213);
  transition: all .40s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 19vw;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  text-align: center;
  margin-bottom: 5rem;
  margin-left: 2.2rem;
  margin-right: 1.5rem;
  
  max-width: 400px;
  
  letter-spacing: px;
  padding-bottom: 5vw;
}
/* .container-inner{
  display: flex;
  align-items: center;
  gap: 1.8rem;
  border: 1px solid #685f78;
  border-radius: 20px;
  padding: 30px 30px;
  box-shadow: -11.729px -11.729px 30px rgb(234, 173, 213);
  transition: all .40s ease;
  height: 285px;
  margin-left: 5rem;
} */
.container-inner:hover{
    transform: translateY(-15px);
}
.container-text h4{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: px;
  margin-left: vw;
  padding-bottom: vw;
}
.container-inner h1{
  padding-bottom: 20px;
}
.container-text p{
  font-size: var(--p-font);
  color: var(--second-color);
  font-weight: 700;
  /* margin-top: 100px; */
  height: 10px;
  line-height: 10px;
  margin-top: 0px;
  
  
}
#catimg{
  height: 30px;
  width: 30;
}
.center-text{
  text-align: center;
}
.center-text h5{
  color: var(--main-color);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 9px;
}
.center-text h2{
 font-size: var(--h2-font);
 line-height: 1.2; 
}
.categories-content{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
  text-align: center;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  
}

/*

*/
.box{
  border: 1px solid #148f77;
  border-radius: 20px;
  padding: 25px 60px;
  padding: 20px 30px;
  box-shadow: -1.72px -1.72px 5px #148f77;
  transition: all .40s ease;
}
.box:hover{
  transform: translateY(-15px);
}
.box h3{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.3;
  transition: all .40s ease;
  color: var(--second-color);
  padding-top: 22px;
}
.box p{
  font-size: var(--p-font);
  color: var(--second-color);
  font-weight: 500;
  padding-bottom: 25px;
}
.main-btn{
  text-align: center;
  margin-top: 5rem;
}
.btn{
  display: inline-block;
  padding: 16px 30px;
  font-size: var(--p-font);
  font-weight: 700;
  background: var(--main-color);
  color: var(--bg-color);
  border-radius: 30px;
  transition: all .40s ease;
  
}
.btn:hover{
  transform: scale(0.9) translateY(-5px);
}
#clickbtn{
  display: inline-block;
  padding: 6px 20px;
  transition: none;
  transform: none;
  
}
li a{
  text-decoration: none;
}
#cor{
  height: 230px;
  width: 355px;
  /* padding-left: 100px; */
}

.courses{
  width: 100vw;
  padding: vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.courses-content{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  gap: 3rem;
  cursor: pointer;
  text-align: center;
  margin-top: 3rem;
  margin-left: 1.7rem;
  margin-right: 1.5rem;
  
  max-width: 400px;
  height: auto;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  gap: 2rem;
  cursor: pointer; */
  /* margin: 0;
  margin-top: 4rem;
  padding: 0;
  border-radius: 15px;

  display: grid;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  gap: 2rem; */

}
.row{
  /* background: rgb(234, 173, 213); */
  width: 80vw;
  padding: 12px 5px 10px 8px;
  border-radius: 20px;
  box-shadow: -1.729px -1.729px 5px #148f77;
  transition: all .40s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row:hover{
  transform: translateY(-15px);
}
.row img{
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.courses-text{
  padding: 35px 20px;
}
.courses-text h5{
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
}
.courses-text h3{
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin: 15px 0 15px;
  transition: all .40s ease;
}
.courses-text h3:hover{
  color: var(--main-color);
}
.courses-text h6{
  color: #148f77;
  font-size: var(--p-font);
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

/* .container-inner-image{
  width: 300px;
  background-color: red;
} */

.rating{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.star i{
  color: var(--main-color);
  margin-right: 2px;
  font-size: 17px;

}
.review p{
  color: #148f77;
  font-size: var(--p-font);
  font-weight: 400;
  letter-spacing: 1px;
}
/* #about-img{
  height: 800px;
  width: 300px;
  margin-left: 600px;
} */
.about{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
  margin: 0;

}
/* .about-img img{
  width: 10vw;
  height: auto;
} */

.about-text{
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.about-img{
  width: 30vw;
  height: 500px;
  background-image: url("./about-img1.jpg");
  background-size:contain;
  background-repeat: no-repeat;
  /* background-color: red; */
}

.btn{
  text-decoration: none;
}
.about-text p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    line-height: 1;
    margin-bottom: 20px;
    margin-left: 2rem;
}

.about-text h2{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    line-height: 1;
    margin-bottom: 20px;
    margin-left: 2rem;
}
.contact{
  padding: 60px 13%;
  background: var(--bg-color);
}
.main-contact{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 1rem;
  margin-top: 100px ;

  
}

.contact-content img{
   height: auto;
   width: 260px;
   max-width: 100%;
   margin-bottom: 40px;
   margin-left: -100px;
}
.contact-content li{
  margin-bottom: 18px;
}
.contact-content li a{
  display: block;
  color: var(--text-color);
  font-weight: 500;
  font-size: 15px;
  transition: all .40s ease;
}
.contact-content li a:hover{
  transform: translateX(10px);
  color: var(--main-color);
}
.last-text p{
  text-align: center;
  padding: 18px;
  color: var(--second-color);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

@media (max-width: 1410px){
  header{
    padding: 10px 3%;
    transition: .2s;
  }
  header.sticky{
    padding: 12px 3%;
    transition: .2s;
  }
  section{
    padding: 70px 3%;
    transition: .2s;
  }
  .container{
    padding: 70px 3%;
    transition: .2s;
  }
  .contact{
    padding: 60px 3%;
    transition: .2s;
  }
}

@media (max-width: 1050px){
  :root{
    --big-font: 3.2rem;
    --h2-font: 2rem;
    --p-font: 1rem;
    transition: .1s;
  }
  .home{
    height: 84vh;
  }
}

@media(max-width: 1025px){
  #menu-icon{
    display: block;
  }
  .navbar{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 110vh;
    background: #148f77;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 170px 30px;
    transition: all .40s ease;
  }
  .navbar a{
    display: block;
    margin: 1.3rem 0;
    color: var(--text-color);
  }
  .navbar a:hover{
    transform: translateY(-5px);
  }
  .navbar.open{
    right: 0;
  }
}

@media (max-width: 890px){
  .home{
    height: 150vh;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .home-text{
    padding-top: 20px;
  }
  .home-img{
    text-align: center;
  }
  .home-img img{
    height: auto;
    width: 100%;
  }
  .about{
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
@media (max-width: 600px){
  .home{
    height: 120vh;
  }
}

.root {
  overflow-x: hidden;
}
.center-text{
  margin-top:90px;
}
a{
  text-decoration: none;
  color: inherit;
}

body{
  font-size: 'outfit';
}

/* css code for contact through form starts from here */
.contact-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 3vw;
}
.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.contact-left-title h2{
  font-weight: 600;
  color: #148f77;
  font-size: 40px;
  margin-bottom: 5px;
  margin-left: 4vw;
}
.contact-left-title hr{
  border: none;
  width: 120px;
  height: 5px;
  background-color: #148f77;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: vw;
  margin-left: 6vw;
}
.contact-inputs{
  width: 400px;
  height: 50px;
  border: none;
  outline:2px solid #148f77;
  padding-left: 25px;
  font-weight: 500;
  color: rgb(1, 4, 18);
  border-radius: 50px;
  
}
.contact-left textarea{
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}
.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #ffffff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background-color: #148f77 ;
  cursor: pointer;
}
@media (max-width:800px){
  .contact-inputs{
    width: 85vw;
    padding-left: vw;
  }
}

/* code for footer section from here*/
